.UploadImage {
    padding: 24px;
    width: 500px;

    .dropzone {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .input {
            display: none;
        }

        .icon {
            width: 120px;
            height: 120px;
            padding: 8px;
        }

        .text {
            padding: 8px
        }
    }
    
    .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }


}